nav {
  /* background-color: #000101; */
  font-size: medium;
  font-family: "comic sans ms";
}
.container-fluid {
  margin-left: 20px;
}
.navbar-brand {
  margin: 10px;
}

.banner {
  background-image: url("./img/pasarbground.jpg");
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
  color: #ffffff;
  font-family: "comic sans ms";
  font-size: large;
}
.row {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: none;
}
section {
  margin: auto;
  display: flex;
  margin-left: 50px;
  margin-bottom: 50px;
}
.kolom {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
}
h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  width: 100%;
  line-height: 50px;
}
.destxt {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 0;
  /* color: #364f6b; */
  width: 100%;
  line-height: 35px;
}
a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.card-title {
  font-weight: 600;
}
.img-fluid {
  height: 300px !important;
  cursor: pointer;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}
.img-fluid:hover {
  filter: brightness(100%);
  transform: scale(0.9);
}
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: steelblue;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #efeded;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #ffffff;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #2c6988;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #003e62;
}
.bottom center span {
  color: #ffffff;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .product-card {
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
  }
  .card {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
